In [19]:
from keras.models import load_model
import matplotlib.pyplot as plt
import numpy as np
import time
import pandas as pd
from IPython.display import display

import data_handler as dh

x_train, x_test = dh.load_data()

In [6]:
print('loading autoencoder')
t0 = time.time()
autoencoder = load_model('autoencoder.h5')
t1 = time.time()
print('Model loaded in: ', t1-t0)

loading autoencoder
('Model loaded in: ', 10.451239824295044)

In [45]:

original_data = np.append(x_train, x_test, axis=0)

df_e10 = pd.read_csv('data/e10_1.csv')
df_e12 = pd.read_csv('data/e12_1.csv')
df_e12label = pd.read_csv('data/cell_identity.csv')


df_e12 = pd.concat([df_e12, df_e12label['label']], axis=1, join='inner')

In [41]:
train.info()
train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Columns: 15803 entries, cell_name to label
dtypes: int64(15801), object(2)
memory usage: 7.6+ MB

,0610005C13Rik,0610007P14Rik,0610009B22Rik,0610009L18Rik,0610009O20Rik,0610010B08Rik,0610010F05Rik,0610010K14Rik,0610011F06Rik,0610012G03Rik,...,Zwint,Zxda,Zxdb,Zxdc,Zyg11b,Zyx,Zzef1,Zzz3,a,l7Rn6
count,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,...,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000,63.000000
mean,0.714286,120.793651,68.968254,1.365079,137.142857,5.492063,134.857143,113.714286,76.539683,111.714286,...,574.206349,7.428571,14.380952,11.269841,93.301587,255.968254,30.365079,101.968254,1.301587,129.095238
std,4.025838,192.528771,112.905751,10.457752,271.248241,12.629807,247.883353,111.103763,121.466420,167.046394,...,557.439311,33.309262,103.093198,45.242075,193.549913,481.536083,107.028531,172.299343,9.248600,162.775891
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.500000,...,106.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,1.500000
50%,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,106.000000,0.000000,28.000000,...,474.000000,0.000000,0.000000,0.000000,14.000000,76.000000,0.000000,4.000000,0.000000,76.000000
75%,0.000000,195.000000,100.000000,0.000000,183.000000,4.500000,183.500000,205.000000,111.500000,151.500000,...,805.500000,4.000000,0.000000,0.000000,42.500000,327.000000,0.000000,114.500000,0.000000,195.000000
max,26.000000,1220.000000,610.000000,83.000000,1434.000000,61.000000,1021.000000,519.000000,466.000000,939.000000,...,2611.000000,261.000000,815.000000,254.000000,924.000000,3133.000000,601.000000,647.000000,73.000000,693.000000

In [54]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
predictors = [x for x in train.columns if x not in ['cell_name', 'label']]
scaler = StandardScaler()
df_e10_scaled = scaler.fit_transform(df_e10[predictors])
df_e12_scaled = scaler.fit_transform(df_e12[predictors])

In [58]:
from sklearn.naive_bayes import GaussianNB
def bayes():
    clf = GaussianNB()

    clf.fit(df_e12_scaled, df_e12.label)
    e10_prediction = clf.predict(df_e10[predictors])
    display(e10_prediction)
    print np.unique(e10_prediction)
bayes()

array(['progenitor', 'adipo.dermal', 'adipo.dermal', 'adipo.dermal',
       'progenitor', 'progenitor', 'progenitor', 'adipo.dermal',
       'progenitor', 'adipo.dermal', 'progenitor', 'progenitor',
       'progenitor', 'progenitor', 'adipo.dermal', 'progenitor',
       'progenitor', 'progenitor', 'progenitor', 'adipo.dermal',
       'progenitor', 'progenitor', 'progenitor', 'progenitor',
       'progenitor', 'progenitor', 'progenitor', 'progenitor',
       'adipo.dermal', 'adipo.dermal', 'progenitor', 'adipo.dermal',
       'adipo.dermal', 'progenitor', 'progenitor', 'progenitor',
       'progenitor', 'progenitor', 'progenitor', 'progenitor',
       'progenitor', 'progenitor', 'adipo.dermal', 'progenitor',
       'progenitor', 'adipo.dermal', 'adipo.dermal', 'adipo.dermal',
       'progenitor', 'progenitor', 'progenitor', 'progenitor',
       'progenitor', 'progenitor', 'progenitor', 'progenitor',
       'progenitor', 'progenitor', 'progenitor', 'adipo.dermal',
       'progenitor', 'progenitor', 'progenitor', 'adipo.dermal',
       'adipo.dermal', 'progenitor', 'progenitor', 'adipo.dermal',
       'neuron', 'progenitor', 'progenitor', 'adipo.dermal', 'progenitor',
       'progenitor', 'progenitor', 'progenitor', 'progenitor',
       'progenitor', 'progenitor', 'progenitor', 'progenitor'],
      dtype='|S12')

['adipo.dermal' 'neuron' 'progenitor']